/* ------------------------------ PostItem Modal --------------------------------- */
.fbackdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.774);
}

.featcont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-height: 10rem;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-5);
  box-shadow: 2px 1px 48px -9px rgba(0, 0, 0, 0.73);
  border-radius: 1rem;
}

.fbutton {
  width: 100%;
  color: var(--white-1);
  padding: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-2);
}

.delete {
  color: var(--danger);
}
.update {
  width: 100%;
  color: var(--white-1);
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}
.cancel {
  border-bottom: none;
}

.fbutton:hover {
  opacity: 0.8;
}

/* ------------------------------ Modal --------------------------------- */

.backdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.774);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 40vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-5);
  box-shadow: 2px 1px 48px -9px rgba(0, 0, 0, 0.73);
}

.wrapper {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 250px;
  border: 2px dashed var(--grey-4);
  border-radius: 10px;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
}

.icon {
  font-size: 4rem;
  color: var(--primary);
}

.text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-2);
}

.caption {
  width: 70%;
  height: 50px;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: auto;
}

input[type="file"] {
  display: none;
}

.customLabel {
  background-color: var(--primary);
  color: var(--white-2);
  cursor: pointer;
  margin-top: 5px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customLabel span {
  margin-right: 5px;
}

.uploadBtn {
  background-color: var(--primary);
  color: var(--white-2);
  cursor: pointer;
  margin-top: 10px;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
}

.getImgBtn {
  display: contents;
}

@media screen and (max-width: 1000px) {
  .modal {
    min-width: 80vw;
  }
  .customLabel {
    flex-wrap: wrap;
  }
}
