.profileContainer,
.editProfileContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--black-2);
}

.profileData {
  color: var(--white-1);
  text-align: center;
  margin-top: 5vh;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.profileImg:hover {
  opacity: 0.85;
}

.profileImg img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile span {
  font-size: 1.3rem;
}

.name {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.4rem;
}

.about {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid var(--grey-4);
}

.box {
  text-align: center;
}

.icon {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.iconCamera {
  font-size: 5vw;
}

.posts {
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.posts h4 {
  font-weight: normal;
  margin-bottom: 3vh;
}

.postContainer {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

.card {
  height: 17.5vw;
  width: 17.5vw;
  margin-bottom: 2.5vh;
  cursor: pointer;
}

.card:hover {
  opacity: 0.7;
}

.card img {
  height: 17.5vw;
  width: 17.5vw;
  object-fit: cover;
}

.noPost {
  font-size: 1.7rem;
}

.cameraContainer {
  width: 9.5vw;
  margin: auto;
  padding: 1vw;
  border: 0.2vw solid white;
  border-radius: 50%;
  background: transparent;
}

/* .maincontainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */
.editProfileContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

@media screen and (max-width: 1000px) {
  .profileContainer,
  .editProfileContainer {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: none;
  }
  .profileData {
    margin-top: none;
    min-height: 100vh;
  }
  .maincontainer {
    width: 100%;
  }
}
