.online_wrap {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 22vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid var(--secondary-2);
    border-radius: 0.4rem;
    /* background-color: aqua; */
}

.online_wrap h2 {
    width: 100%;
    padding: 0.8rem 0;
    text-align: center;
    color: white;
    border-bottom: 0.1rem solid var(--secondary-2);
}

.online_wrap .onlineUser {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: pink;
}

.online_wrap .onlineUser img {
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid aqua;
    border-radius: 50%;
}

.online_wrap .onlineUser h4 {
    color: white;
    margin-left: 2rem;
}