.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment_form_cancel_button {
  margin-left: 10px;
  width: 2rem !important;
}

.comment {
  display: flex;
  margin-bottom: 28px;
  margin-top: 2rem;
  color: var(--white-1);
}

.comment_image_container {
  margin-right: 12px;
}

.comment_image_container img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.comment_right_part {
  width: 100%;
}

.comment_content {
  display: flex;
}

.comment_author {
  margin-right: 8px;
  font-size: 20px;
  color: var(--primary);
}

.comment_text {
  font-size: 18px;
}

.comment_actions {
  display: flex;
  font-size: 12px;
  color: var(--white-1);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

.commentSection {
  display: flex;
  justify-content: flex-start;
  width: 590px;
  padding: 1rem;
  margin-top: -3.5rem;
  margin-bottom: 4.5rem;
  border-radius: 10px;
  flex-direction: column;
}

.cname {
  color: var(--white-1);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
}

.cinputdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cip {
  display: block;
  width: 80%;
  padding: 0.5rem;
  outline: none;
  background: transparent;
  border: 10px solid;
  border-radius: 1rem;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    to left,
    var(--primary),
    var(--secondary-1)
  );
  color: var(--white-1);
  font-size: 1rem;
}

.cpost {
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 6rem;
  border: none;
  outline: none;
  background: linear-gradient(150deg, var(--primary), var(--ternary-2));
  color: var(--white-2);
  font-size: 1rem;
}

.comment .cpost {
  width: 2rem;
}

.cpost:hover,
.comment .cpost:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
