.convos {
  width: 40%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 0.1rem solid var(--secondary-2);
  color: var(--white-2);
}

.top {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  width: 100%;
  max-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid var(--secondary-2);
}

.top > img {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--primary);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.top > h3 {
  font-weight: 600;
}

.bottom {
  min-height: 80.5vh;
  max-height: 80.5vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.cflex {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.cnv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.cnv > img {
  width: 3.3rem;
  height: 3.3rem;
  border: 0.2rem solid var(--primary);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.cnvflex {
  display: flex;
  flex-direction: column;
}

.cnvflex h2 {
  font-weight: 400;
}

.flex p {
  color: var(--grey-1);
}

.online {
  color: green;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.offline {
  color: grey;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.newcnv {
  color: grey;
}
