.wrapper {
  position: sticky;
  top: 1%;
  background: var(--secondary-2);
  max-width: 50%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 1rem auto;
  overflow: hidden;
  flex-direction: column;
}

.searchbar {
  min-width: 100%;
  height: 2.5rem;
  background-color: var(--secondary-2);
  color: var(--white-2);
  display: flex;
  align-items: center;
  padding: 0.2rem 1.2rem;
}

.icon {
  font-size: 1.2rem;
}

.cicon {
  font-size: 0.8rem;
  opacity: 0.8;
  cursor: pointer;
}

.cicon:hover {
  opacity: 1;
  font-size: 0.9rem;
  transition: 0.2s all ease-in;
}

.search_text {
  min-width: 92%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 0 1.2rem 0 1rem;
  border-radius: 1.5rem;
  color: var(--white-2);
}

.wrapper:hover,
.wrapper:focus {
  transition: 0.2s all ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.296);
}

.list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5em;
  overflow: hidden;
  overflow-y: auto;
  border-top: 1px solid var(--grey-1);
  max-height: 0;
  display: flex;
  flex-direction: column;
  animation: enlarge 0.25s forwards;
}

.list__li {
  cursor: pointer;
  padding: 0 1.5rem;
  line-height: 1.5;
  margin-right: -1.5em;
  margin-left: -1.5em;
  text-decoration: none;
  color: var(--white-1);
}

.empty {
  color: var(--white-1);
  border-top: 1px solid var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
}

.li__details {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.li__details_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 1rem 0 0.2rem;
}

.li__details_names {
  display: flex;
  flex-direction: column;
}

.li__username {
  font-weight: 700;
}

.li__name {
  font-size: 0.9rem;
  color: var(--white-1);
  opacity: 0.9;
}

.li__details:hover {
  background-color: var(--secondary-3);
  
  transition: 0.2s all ease-in;
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 70%;
  }
  .search_text {
    min-width: 88%;
  }
}

@keyframes enlarge {
  to {
    max-height: 10em;
  }
}
