.pcontainer {
  background: var(--black-2);
  font-size: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pcontainer::-webkit-scrollbar {
  display: none;
}
.commentSection {
  display: flex;
  justify-content: flex-start;
  width: 590px;
  padding: 1rem;
  margin-top: -3.5rem;
  margin-bottom: 4.5rem;
  border-radius: 10px;
  flex-direction: column;
}

.cname {
  color: var(--white-1);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.5rem;
}

.cinputdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cip {
  display: block;
  width: 80%;
  padding: 0.5rem;
  outline: none;
  background: transparent;
  border: 10px solid;
  border-radius: 1rem;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    to left,
    var(--primary),
    var(--secondary-1)
  );
  color: var(--white-1);
  font-size: 1rem;
}

.cpost{
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 6rem;
  border: none;
  outline: none;
  background: linear-gradient(150deg, var(--primary), var(--ternary-2));
  color: var(--white-2);
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .pcontainer {
    grid-template-columns: none;
  }
  .profileContainer,
  .editProfileContainer {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: none;
  }
}

@media screen and (max-width: 650px) {
  .post_container,
  .commentSection {
    width: 95vw;
  }
  .post img {
    width: 80vw;
  }
  .cip {
  display: block;
  width: 65%;
  }
}

/* ------------------------------------------------- */
.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post_container {
  width: 580px;
  height: 620px;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
  border-radius: 10px;
  background-color: var(--black-5);
}

.user {
  display: flex;
  padding: 1rem;
}

.profile_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  margin-left: 1rem;
}

.profile_img img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.username {
  display: flex;
  padding: 0.5rem 0.5rem;
  color: var(--white-1);
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post img {
  width: 500px;
  height: 400px;
  border-radius: 0.5rem;
}

/* .post_icons {
  padding: 0.5rem;
  margin-left: 1rem;
  width: 100%;
  display: flex;
  align-self: start;
  justify-content: space-around;
} */

.post_icons .post_icon {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  width: 100%;
  padding: 0 0.5rem 0.5rem;
}

.post_icons {
  width: 95%;
  display: flex;
  align-self: start;
  padding: 0 0.5rem 0.5rem;
}

.post_icons button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: var(--white-2);
}

.post_icons a {
  color: var(--white-2);
  text-decoration: none;
  padding-top: 0.5rem;
}

.post_icons .post_icon a {
  color: var(--white-2);
  text-decoration: none;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.icon {
  font-size: 20px;
  color: var(--white-2);
  padding-right: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.active {
  color: var(--primary);
}

.img_caption {
  color: var(--white-2);
  padding: 0.3rem 1rem;
  margin: 1rem 0 0.5rem 0;
  font-weight: 500;
  text-align: left;
  width: 95%;
}
.post_icons .more {
  display: flex;
  justify-content: flex-end;
  align-self: start;
  width: 100%;
  padding: 0.5rem;
  margin-left: 1rem;
}

.img_caption span {
  color: var(--white-1);
  padding-left: 0.2rem;
  font-weight: normal;
}

.ispan {
  padding-left: 0.5rem;
  font-size: 15px;
}

@media screen and (max-width: 650px) {
  .post_container {
    width: 95vw;
  }
  .post img {
    width: 80vw;
  }
}
