.login_bg {
  background: var(--black-5);
  font-size: 15px;
  overflow: hidden;
  height: 100vh;
}

.container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 70%;
  background-color: var(--black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 5px 6px 7px -3px var(--grey-3);
}

.maincontainer .half {
  flex: 1;
}

.maincontainer .left {
  position: relative;
  height: 93vh;
  background-image: url("../../images/loginSign.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media screen and (max-width: 1000px) {
  .maincontainer {
    width: 90%;
  }

  .maincontainer .left {
    display: none;
  }
}

/* .maincontainer {
  width: 70%;
  background-color: var(--black-1);
  display: flex;
  align-items: center;
  border-radius: 2rem;  
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 7px -3px var(--grey-3);
} 

.image {
  width: 100%;
  max-height: 80%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
} */
