.index_container {
  background: var(--black-2);
  font-size: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 0.5fr;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.index_container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .index_container {
    grid-template-columns: none;
  }
}
